body{
    margin: 0;
}

.inicio{
    height: 500px;
    width: 100%;
}

.foto{
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
}

.links{
    flex-grow: inherit;
    margin: 5px;
}
